* {
  margin: 0;
  padding: 0%;
}

body {
  color: #000;
}

header {
  background-image: url(../images/pic.png);
  height: 365px;
}

.container {
  display: flex;
  flex-direction: column;
}

.h1-and-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}

.title-text {
  display: flex;
  width: 212px;
  font-family: "Montserrat", sans-serif;
  color: #DC56C5;
  font-size: 18px;
}

.header-logo {
  width: 90px;
  height: 107px;
}