* {
  margin: 0;
  padding: 0%;
}

body {
  color: #000;
}

header {
  background-image: url(../images/pic.png);
  height: 365px;
}

.container {
  display: flex;
}

.title-text {
  width: 212px;
  font-family: "Montserrat", sans-serif;
  color: #DC56C5;
}

.header-logo {
  width: 90px;
  height: 107px;
}