main {
    background-color: #000;
    background-image: url("../images/bg-noise.png");
}

.events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 30px;
}

.event-card {
    border: #fff 1px solid;

    li {
        width: 138px;
        height: 245px;
    }
}

.events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block: 30px;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: end;

    @include tab(768px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 27px 27px;
    }

    @include desc(1200px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 70px;
    }
}

.event-card {
    position: relative;
    cursor: pointer;
    width: 138px;
    height: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    overflow: visible;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    //&:hover {
    //  transform: translateY ;
    //  box-shadow: ;
    //}

    &::before {
        content: "";
        position: absolute;
        z-index: 2;
        pointer-events: none;
        box-sizing: border-box;
        width: 108px;
        height: 101px;
        top: -10px;
        right: -10px;
        border: 1px solid rgba(220, 86, 197, 0.3);
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    @include tab(768px) {
        width: 196px;
        height: 312px;

        &::before {
            width: 153px;
            height: 143px;
            top: -12px;
            right: -12px;
        }
    }

    @include desc(1200px) {
        width: 196px;
        height: 312px;

        &::before {
            width: 153px;
            height: 143px;
            top: -14px;
            right: -14px;
        }
    }
}


.event-image {
    width: 128px;
    height: 161px;
    object-fit: cover;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: block;

    @include tab(768px) {
        width: 180px;
        height: 227px;
    }

    @include desc(1200px) {
        width: 180px;
        height: 227px;
    }
}


.event-info {
    margin: 10px auto 0;
    text-align: center;
    max-width: 184px;
    width: 100%;

    .event-title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        @include deep_pink();
        margin-bottom: 6px;
        display: block;
        white-space: normal;
        overflow: visible;
        text-overflow: unset;

        @include tab(768px) {
            font-size: 16px;
            white-space: nowrap;
            overflow: visible;
            text-overflow: unset;
            max-width: 184px;
            display: inline-block;
        }

        @include desc(1200px) {
            font-size: 16px;
            white-space: nowrap;
            overflow: visible;
            text-overflow: unset;
            max-width: 184px;
            display: inline-block;
        }
    }

    .event-date {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        opacity: 1;
        margin-bottom: 5px;
        line-height: 100%;
    }

    .event-location {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        white-space: nowrap;

        img {
            width: 7px;
            height: 10px;
            object-fit: contain;
            position: relative;
        }
    }
}