main {
    background-color: #000;
    background-image: url("../images/bg-noise.png");
} 

.events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 30px;
}

.event-card {
    border: #fff 1px solid;
    li {
        width: 138px;
        height: 245px;
    }
}
