#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 242, 253, 1);
    border-radius: 150px 0 150px 0;
    width: 90vw;
    // width: 270px;
    padding: 75px 15px 105px 15px;
    z-index: 3;

    #h3_p_modal {
        max-width: 240px;
        font-family: Montserrat;
    }

    h3 {
        color: rgba(220, 86, 197, 1);
        font-size: 20px;
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 10px;
    }

    #prices button {
        border: none;
        background-color: rgba(76, 0, 254, 1);
        color: #fff;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    #more_btn {
        padding: 10px 3px;
        background-color: rgba(255, 242, 253, 1);
        border: 1px solid rgba(76, 0, 254, 1);
        color: rgba(76, 0, 254, 1);
        border-radius: 5px;
    }
    #close_btn {
        position: absolute;
        top: 25px;
        right: 25px;
        background: transparent;
        width: 17px;
        height: 17px;
    }
    #modal_content {
        display: none;
        padding: 12px 115px 12px 115px;
    }

    .image_of_band {
        background-color: #636363;
        height: 415px;
    }

    .content_of_modal {
        @include tab (720px) {
            display: flex;
        }
    }
}